body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.header{
    width: 100%;
    padding-bottom: 89px;
    text-align: right;
}
.head li{
    list-style-type: none;
    display: inline-block;
    padding: 0 6px;
    vertical-align: middle;
}
.main-container{
    text-align: center;
}
input{
    margin-bottom: 20px;
}
.logo{
    width: 250px;
    height: 100%;
}
.search-box{
    display: inline-flex;
    align-items: center;
    position: relative;
}
.search-box input{
    width: 482px;
    height: 44px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.062);
    padding-left: 10px;
    font-size: 18px;
    outline: none;
}
.search-box input:hover{
    box-shadow: 0 0 11px;
}
.search-box img{
    position: absolute;
    padding-bottom: 22px;
    margin-left: 450px;
}
.button input{
    width: 130px;
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    outline: none;
}
.button input:hover{
    box-shadow: 0 0 5px;
}
.language a{
    text-decoration: none;
}
.language a:hover{
    text-decoration: underline;
}
